* {
    margin: auto;
    padding: auto;
    cursor: default;
}
*:focus {
    outline: none;
}
body {
    margin: auto;
    padding: auto;
    width: 100%;
}
header {
    margin: auto;
    width: 100%;
    padding: 130px 0px;
    background-color: rgb(50, 50, 50);
    background-image: url("headBackgroundImage.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 30%;
    background-position: center;
    border-bottom: 1px solid black;
}
header h1 {
    text-align: center;
    width: 100%;
    font-size: 65px;
    color: rgb(250, 250, 250);
    font-family: "Fjalla One";
    transition: all ease 1s 0s;
}
header h1 span {
    cursor: pointer;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 5px rgba(200, 200, 200, 0.2);
    border-radius: 15px;
    color: rgba(200, 200, 200, 0.6);
    transition: all ease 2s 0s;
}
header h1 span:hover {
    box-shadow: 0 0 0 5px rgba(0, 150, 180, 0.2);
    color: rgba(0, 150, 180, 0.6);
    transition: all ease 2s 0s;
}










div#indexBox {
    padding: 30px 30px;
    position: fixed;
    top: 50vh;
    right: 40px;
    border: 2px solid rgba(50, 50, 50, 0.7);
    box-shadow: 0 0 0 3px rgba(20, 20, 20, 0.5);
    border-radius: 15px;
    text-align: center;
    background-color: white;
}
div#indexBox #indexTitle {
    font-family: "Sawarabi Mincho";
    font-size: 25px;
    padding-bottom: 20px;
    transition: all ease 1s 0s;
}
div#indexBox #indexTitle:hover {
    color: gray;
    transition: all ease 1s 0s;
}
div#indexBox input[type=button] {
    font-family: "Sawarabi Mincho";
    font-size: 18px;
    padding: 3px 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    margin-top: 20px;
    transition: all ease 1s 0s;
}
div#indexBox input[type=button]:hover {
    border-radius: 20px;
    color: rgb(20, 170, 120);
    border: 1px solid rgb(20, 170, 120);
    box-shadow: 0 0 0 3px rgba(20,170,120,0.5);
    transition: all ease 1s 0s;
}
div#indexBox p a {
    font-size: 20px;
    font-family: "Sawarabi Mincho";
    cursor: pointer;
    text-decoration: none;
    color: gray;
    transition: all linear 1s 0s;
}
div#indexBox p a:hover {
    color: red;
    text-shadow: 0 0 0 5px black;
    transition: all linear 1s 0s;
}
div#indexBox p a:active {
    text-decoration: none;
}







footer {
    background-color: white;
    width: 100%;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
}
footer input[type = button] {
    padding: 3px 10px;
    margin: 10px 10px;
    margin-bottom: 0px;
    font-family: "Sawarabi Mincho";
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    transition: all linear 0.5s 0s;
}
footer input[type = button]:hover {
    border: 1px solid rgb(20,170,120);
    color: rgb(20,170,120);
    border-radius: 20px;
    transition: all linear 0.5s 0s;
}
footer div {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
footer div p {
    margin: auto;
    font-family: "Sawarabi Mincho";
    font-size: 18px;
}
footer div p a {
    cursor: pointer;
    text-decoration: none;
    color: gray;
    transition: all linear 1s 0s;
}
footer div p a:hover {
    color: red;
    transition: all linear 1s 0s;
}
footer div p a:active {
    text-decoration: none;
}