* {
    margin: 0 0;
    padding: 0 0;
    cursor: default;
}

section {
    margin: auto;
    padding: 100px 0px;
    margin-bottom: 100px;
}
section h1{
    width: 100%;
    font-family: "Sawarabi Mincho";
    margin: auto;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    transition: all ease 2s 0s;
}
section h1 span{
    color: black;
    transition: all ease 1s 0s;
}
section h1 span:hover{
    color: gray;
    transition: all ease 1s 0s;
}
section div.flexBox {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
section div.flexBox img.rightImg{
    width: 20%;
    margin-left: 100px;
    border: 1px solid black;
    transition: all ease 2s 0s;
}
section div.flexBox img.leftImg{
    width: 20%;
    margin-right: 100px;
    border: 1px solid black;
    transition: all ease 2s 0s;
}
section div.flexBox img:hover{
    width: 25%;
    transition: all ease 2s 0s;
}
section div.flexBox h2.projectInfo{
    font-family: "Sawarabi Mincho";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 60px;
    font-size: 40px;
    margin: auto 0px;
    transition: all ease 2s 0s;
}
section div.flexBox h2.projectInfo:hover{
    color: rgb(20,170,120);
    transition: all ease 1s 0s;
}
hr {
    width: 60%;
    margin: 100px auto;
}
section h1#databaseHead{
    width: 100%;
    font-family: "Sawarabi Mincho";
    margin: auto;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    transition: all ease 2s 0s;
}
section h1#databaseHead:hover{
    color: gray;
    transition: all ease 1s 0s;
}

section div.flexBox img#databaseImg {
    width: 50%;
    margin: auto;
    transition: all ease 2s 0s;
}
section div.flexBox img#databaseImg:hover {
    width: 65%;
    transition: all ease 2s 0s;
}

section div#gitbox {
    margin-top: 80px;
}
section div#gitbox a {
    margin: auto;
    text-align: center;
}
section div#gitbox img#githubLogo {
    cursor: pointer;
    width: 40%;
    border: 1xp soldi black;
    border-radius: 1000px;
    transition: all ease 2s 0s;
}
section div#gitbox img#githubLogo:hover {
    width: 50%;
    border: 2xp soldi rgb(50,200,150);
    box-shadow: 0 0 0 10px rgba(20,170,120, 0.5);
    transform: rotate(720deg);
    transition: all ease 1s 0s;
}