* {
    margin: 0 0;
    padding: 0 0;
    cursor: default;
}
*:focus {
    outline: none;
}
body {
    margin: auto;
    padding: auto;
    width: 100%;
}
header {
    margin: auto;
    width: 100%;
    padding: 80px 0px;
    background-color: rgb(50, 50, 50);
    border-bottom: 1px solid black;
}
header h1 {
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: 65px;
    color: rgb(250, 250, 250);
    font-family: "Fjalla One";
    transition: all ease 1s 0s;
}
header h1:hover {
    color: rgb(20,170,120);
    transition: all ease 2s 0s;
}





section {
    margin: auto;
    padding: 100px 0px;
    margin-bottom: 200px;
}
section h1{
    width: 25%;
    font-family: "Sawarabi Mincho";
    margin: auto;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    transition: all ease 2s 0s;
}
section h1:hover{
    color: gray;
    transition: all ease 1s 0s;
}
section div.flexBox {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
section div.flexBox img.rightImg{
    width: 20%;
    margin-left: 100px;
    border: 1px solid black;
    transition: all ease 2s 0s;
}
section div.flexBox img.leftImg{
    width: 20%;
    margin-right: 100px;
    border: 1px solid black;
    transition: all ease 2s 0s;
}
section div.flexBox img:hover{
    width: 25%;
    transition: all ease 2s 0s;
}
section div.flexBox h2.projectInfo{
    font-family: "Sawarabi Mincho";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 60px;
    font-size: 40px;
    margin: auto 0px;
    transition: all ease 2s 0s;
}
section div.flexBox h2.projectInfo:hover{
    color: rgb(20,170,120);
    transition: all ease 1s 0s;
}
hr {
    width: 60%;
    margin: 100px auto;
}






















footer {
    background-color: white;
    width: 100%;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
}
footer input[type = button] {
    padding: 3px 10px;
    margin: 10px 10px;
    font-family: "Sawarabi Mincho";
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    transition: all linear 0.5s 0s;
}
footer input[type = button]:hover {
    border: 1px solid rgb(20,170,120);
    color: rgb(20,170,120);
    border-radius: 20px;
    transition: all linear 0.5s 0s;
}
footer div {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
footer div p {
    margin: auto;
    font-family: "Sawarabi Mincho";
    font-size: 22px;
}
footer div p a {
    cursor: pointer;
    text-decoration: none;
    color: gray;
    transition: all linear 1s 0s;
}
footer div p a:hover {
    color: red;
    transition: all linear 1s 0s;
}
footer div p a:active {
    text-decoration: none;
}